@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-color: pink;
    box-sizing: border-box;
    font-family: 'VT323', monospace;;
    margin: 0;
    padding: 0 10px;
}

header {
    height: 40px;
    display: flex;
    border-radius: 10px;
    justify-items: flex-end;
    align-items: center;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav li a {
    border: 2px solid black;
    border-style: dashed;
    padding: 2px 5px;
}

nav li {
    display: inline-block;
    margin: auto 20px;
}

nav li a:hover {
    background-color: seashell;
}

.logo {
    margin-right: auto;
}

div {
    border: 2px dashed black;
    margin: 100px 400px;
    padding-bottom: 10%;
    text-align: center;
}

div p {
    margin: 0 20px;
}

footer {
    text-align: center;
}